.clock {
    font-size: 125px;
}
.btn {
    font-size: 25px;
    padding: 10px;
}
h1 {
    font-size: 100px;
    margin-bottom: 30px;
}
h2 {
    font-size: 45px;
    margin-top: 50px;
}
p {
    font-size: 20px;
}

